services:
  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      DB_HOST: db
    ports:
      - '8000:8000'
    #nevajag exposot localhostam, jo no django puses ir tikai rest_api lapa

    depends_on:
      - db

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - '5173:80'

  db:
    image: mariadb:11
    command: ["mariadbd", "--innodb-use-native-aio=0"] #Citādi ir errorir ar io_uring
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MARIADB_DATABASE: ${MARIADB_DATABASE:-posts}
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ['CMD-SHELL', 'mysqladmin ping -h localhost -uroot -p"$MARIADB_ROOT_PASSWORD"'] #Healthcheck, lai vispār pārliecinātos, ka db strādā
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
