# docker-compose.yml

services:
  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    volumes:
      - ./backend:/usr/src/app
    depends_on:
      - db

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - '3000:80'
    depends_on:
      - backend

  db:
    image: mariadb
    restart: always
    env_file:
      - .env
    environment:
      MARIADB_DATABASE: posts
      

volumes:
  postgres_data: